.App {
  text-align: center;
}

.kittens {
  width: 30vmin;
  pointer-events: none;
  position: absolute;
  bottom: 7vmin;
  left: calc(50vmax - 13vmin);
  z-index: 1;
}

.volken {
  height: 25vmin;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.angel {
  height: 25vmin;
  position: absolute;
  bottom: -10px;
  left: 20vmax;
  z-index: 3;
}

.rezin {
  height: 15vmin;
  position: absolute;
  bottom: 10px;
  right: 20px;
  z-index: 3;
}

.pixel-size {
  height: 15vmin;
  position: absolute;
  bottom: 10px;
  right: calc(20px + 25vmin);
  z-index: 3;
}

.flower {
  height: 20vw;
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: -1;
}

@media (prefers-reduced-motion: no-preference) {
  .kittens {
    animation: kittens-spin infinite 10s linear;
  }

  .angel {
    animation: angel-spin infinite 10s linear;
  }

  .rezin {
    animation: rezin-shake infinite 10s linear;
  }
}

.App-header {
  z-index: 0;
  position: relative;
  background-color: #282c34;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

@keyframes kittens-spin {
  25% {
    transform: rotate(10deg) translate(100px,0px);
  }
  75% {
    transform: rotate(-10deg) translate(-100px,0px);
  }
  100% {
    transform: rotate(0deg) translate(0px,0px);
  }
}

@keyframes angel-spin {
  5% {
    transform: translate(0,25vmin);
  }
  65% {
    transform: translate(0,25vmin);
  }
  75% {
    transform: translate(0,15vmin);
  }
  89% {
    transform: translate(0,9vmin);
  }
  100% {
    transform: translate(0px,0px);
  }
}

@keyframes rezin-shake {
  1% {
    transform: rotate(0deg);
  }
  95% {
    transform: rotate(0deg);
  }
  96% {
    transform: rotate(10deg);
  }
  98%{
    transform: rotate(-5deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.grid-container {
  display: grid;
  grid-gap: 2px;
  background-color:  #282c34;
  padding: 10px;
  grid-template-columns: repeat(auto-fill, minmax(calc(100vw/110), 1fr));
  grid-auto-rows: calc(100vw/110);
}

.grid-container > div {
  background-color:rgb(38, 40, 49);
  text-align: center;
  font-size: 1px;
}

.blob {
  height: 50px;
  width: 50px;
  background-color: brown;
  border-radius: 50%;
}

.Blob-container {
  position: absolute;
  left: 2vmax;
  top: 0;
  border: brown solid 2px;
  width: 95vw;
}

@media screen and (max-width: 450px) {
  .App-header {
    height: 33vh;
  }

  .kittens {
    width: 20vmin;
  }

  .volken {
    height: 20vmin;
  }

  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(calc(100vw/60), 1fr));
    grid-auto-rows: calc(100vw/60);
  }  
}

@media screen and (max-width: 350px) {
  .App-header {
    height: 33vh;
  }

  .kittens {
    width: 25vmin;
  }
}
